python-dateutil
pytorch
altair
attrs
blas
blinker
brotli-python
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
cryptography
filelock
freetype
fsspec
gitdb
gitpython
gmp
gmpy2
huggingface-hub
idna
importlib-metadata
jinja2
jpeg
jsonschema
jsonschema-specifications
lcms2
lerc
libcxx
libdeflate
libffi
libgfortran
libgfortran5
libjpeg-turbo
libopenblas
libpng
libtiff
libwebp-base
llvm-openmp
lz4-c
markdown-it-py
markupsafe
mdurl
mpc
mpfr
mpmath
ncurses
networkx
numpy
numpy-base
openjpeg
openssl
packaging
pandas
pillow
pip
protobuf
pyarrow
pycparser
pydeck
pygments
pyopenssl
pysocks
pytz
pyyaml
readline
referencing
regex
requests
rich
rpds-py
safetensors
setuptools
six
smmap
sqlite
streamlit
sympy
tenacity
tk
tokenizers
toml
toolz
torchvision
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
wheel
xz
yaml
zipp
zlib
zstd
